/*
Syntax error: Undefined mixin 'tab-focus'.
        on line 22 of cul/_base.scss, in `tab-focus'
        from line 22 of cul/_base.scss
        from line 10 of style.scss

17: @import 'cul/miscellaneous';
18: @import 'cul/drupal';

Backtrace:
cul/_base.scss:22:in `tab-focus'
cul/_base.scss:22
style.scss:10
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/tree/root_node.rb:20:in `render'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/engine.rb:262:in `render'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `each'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `call'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `on_change'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/listen-0.7.3/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `call'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `report_changes'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/listen-0.7.3/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'tab-focus'.\A         on line 22 of cul/_base.scss, in `tab-focus'\A         from line 22 of cul/_base.scss\A         from line 10 of style.scss\A \A 17: @import 'cul/miscellaneous';\A 18: @import 'cul/drupal';"; }
