/*
Syntax error: Invalid CSS after "...ia (max-width: ": expected expression (e.g. 1px, bold), was "@screen-xs-max) {"
        on line 143 of cul/_layout.scss
        from line 14 of style.scss

138: // /* Large devices (large desktops, 1200px and up) *\/
139: // @media (min-width: @screen-lg) { ... }
140: 
141: 
142: /* Do not display hero image up to 480px *\/
143: @media (max-width: @screen-xs-max) {
144: 	.hero {
145: 		background-image: none !important;
146: 	}
147: }
148: 

Backtrace:
cul/_layout.scss:143
style.scss:14
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:1148:in `expected'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/script/lexer.rb:199:in `expected!'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/script/parser.rb:471:in `assert_expr'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/script/parser.rb:49:in `parse'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:1021:in `sass_script'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:409:in `media_expr'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:386:in `media_query'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:353:in `media_query_list'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:1065:in `expr!'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:348:in `media_directive'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:174:in `special_directive'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:146:in `directive'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:552:in `block_child'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:545:in `block_contents'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:27:in `parse'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:342:in `_to_tree'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:274:in `to_tree'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `each'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `call'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `on_change'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `call'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `report_changes'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...ia (max-width: \": expected expression (e.g. 1px, bold), was \"@screen-xs-max) {\"\A         on line 143 of cul/_layout.scss\A         from line 14 of style.scss\A \A 138: // /* Large devices (large desktops, 1200px and up) */\A 139: // @media (min-width: @screen-lg) { ... }\A 140: \A 141: \A 142: /* Do not display hero image up to 480px */\A 143: @media (max-width: @screen-xs-max) {\A 144: 	.hero {\A 145: 		background-image: none !important;\A 146: 	}\A 147: }\A 148: "; }
