/*
Syntax error: Invalid CSS after "	p": expected "{", was "}"
        on line 112 of cul/_search.scss
        from line 15 of style.scss

107: 	}
108: 	a, a:hover { 
109: 		text-decoration: underline; }
110: 		// color: white; }
111: 	p 
112: }
113: 
114: .help-links {
115: 	padding-top: 10px;
116: 	font-size: 11px;
117: 	margin-top: 30px;

Backtrace:
cul/_search.scss:112
style.scss:15
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:1148:in `expected'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:1084:in `expected'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:1079:in `tok!'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:533:in `block'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:528:in `ruleset'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:590:in `block in declaration_or_ruleset'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:1122:in `call'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:553:in `block_child'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:545:in `block_contents'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:534:in `block'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:528:in `ruleset'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:552:in `block_child'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:545:in `block_contents'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:27:in `parse'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:342:in `_to_tree'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:274:in `to_tree'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `each'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `call'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `on_change'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `call'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `report_changes'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"	p\": expected \"{\", was \"}\"\A         on line 112 of cul/_search.scss\A         from line 15 of style.scss\A \A 107: 	}\A 108: 	a, a:hover { \A 109: 		text-decoration: underline; }\A 110: 		// color: white; }\A 111: 	p \A 112: }\A 113: \A 114: .help-links {\A 115: 	padding-top: 10px;\A 116: 	font-size: 11px;\A 117: 	margin-top: 30px;"; }
