body {
	font-family: $font-family-sans-serif;
	background-color: $dark-gray;
  color: $dark-gray;
}


// Links
// -------------------------

a {
  color: $link-color;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: $link-color-hover;
  text-decoration: underline;
}
a:focus {
  @include tab-focus();
}

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-sans-serif;
}
h2 { 
  margin-bottom: 1em;
  margin-top: 0;
  color: $cornell-primary;
  font-weight: 700; }

h3, h4, h5 { 
  margin-bottom: .5em;
  line-height: 1.25em; }

h3 { font-size: 22px; }
h3:first-child { margin-top: 0; }

h4 { font-weight: 700; }

// Typography
// -------------------------

.main-text {
	p, li, td { 
		font-size: 16px;
		line-height: 1.6em; }
  td {
    p, li { font-size: 1em; }
  }
  ul, ol { 
    margin-bottom: 1em;
    ul, ol { margin-bottom: 0; }
  }
}
blockquote {
  p { font-weight: 400; }
}

// Forms
// -------------------------
.help-block { font-size: 12px; }
.form-inline {
  .form-group { 
    margin-bottom: 5px;
    padding-right: 5px; }
}

// Wells
// -------------------------
.well {
  background: $pale-gray;
}

// Lead
// -------------------------
.main-text {
  p.lead { font-size: 21px; }
}

// Tables
// -------------------------

td { vertical-align: top; }


// MEDIA QUERIES
// -------------------------

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
  .main-text {
    input.form-control,
    select.form-control { width: 40%; }
  }
}