body {
	font-family: $font-family-sans-serif;
	background-color: $dark-gray;
  color: $dark-gray;
}


// Links
// -------------------------

a {
  color: $link-color;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: $link-color-hover;
  text-decoration: underline;
}
a:focus {
  @include tab-focus();
}

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-cul;
  font-weight: 400;
}
h1 { 
  margin-bottom: .75em;
  margin-top: 0;
  color: $cornell-primary;
  font-size: 30px;
  font-family: $font-family-cul;
}

h2, h3, h4 { 
  margin-bottom: .5em;
  line-height: 1.25em; }

h2 { 
  font-size: 22px;
}
h2:first-child { margin-top: 0; }

h3 { 
  font-size: 18px;
  line-height: 1.4em;
}

// Typography
// -------------------------

.main-content {
	p, li { 
		font-size: 16px;
		line-height: 1.6em; }
  td {
    font-size: 14px;
    p, li { font-size: 1em; }
  }
  ul, ol { 
    margin-bottom: 1em;
    ul, ol { margin-bottom: 0; }
  }
}
blockquote {
  p { font-weight: 400; }
}

// Forms
// -------------------------
.help-block { font-size: 12px; }
.form-inline {
  .form-group { 
    margin-bottom: 5px;
    padding-right: 5px; }
}

// Wells
// -------------------------
.well {
  background: $pale-gray;
}

// Lead
// -------------------------
.main-text {
  p.lead { font-size: 21px; }
}

// Tables
// -------------------------

table {
  background: white; // add this so that tables have a white background when viewed responsively (otherwise they pick up black background color)
}
td { vertical-align: top; }

// copy bootstrap table-striping for Drupal odd/even rows
.odd {
  td { background: #f9f9f9; }
}

// adjust left-padding for list items when in a table cell
.main-content {
  td {
    li { 
      margin-left: 0;
      padding-left: 0;
    }
    ul {
      margin-left: 20px;
      padding-left: 0;
    }
  }
}

// override word-wrapping for bootstrap responsive tables 
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tbody > tr > td, 
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > tfoot > tr > td {
  white-space: normal;
}

// CUL button
// -------------------------

// Info appears as blue-green
.btn-cul {
  @include button-variant($btn-cul-color, $btn-cul-bg, $btn-cul-border);
  border: none;
}


// MEDIA QUERIES
// -------------------------

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
  .main-content {
    input.form-control,
    select.form-control,
    .form-email { width: 40%; }
  }
  .main-content {
    .courses-form {
      input.form-control,
      select.form-control { width: 100%; }
    }
  }
}