// Feature boxes
// -------------------------
.feature {
	margin: 0 10px 15px 10px;
	h2 {
		font-size: 26px;
		font-family: $font-family-sans-serif;
		font-weight: 700;
		border-bottom: 5px solid $light-tan;
		padding-bottom: 10px;
		margin: 0 0 .5em;
		color: $cornell-primary;
		i { 
			color: $cornell-primary;
			font-size: 20px; }
	}
}
.secondary-feature {
	margin-bottom: 30px;
	// height: 250px;
	h3 {
		font-size: 16px;
		text-transform: uppercase;
		// font-weight: normal;
		border-bottom: 5px solid $teal;
		padding-bottom: 10px;
		margin: 0 0 .5em;
		color: white;
	}
	i { 
		color: #b8d6d4;
		margin-right: 8px; }
	.btn-rss { 
		margin: 4px 0 0 10px;
		i {
			color: white;
			margin-right: 0; }
	}
	.title {
		display: block;
		font-size: 20px;
		margin-bottom: .5em;
		a { color: white; }
	}
	.libescope-type {
		font-size: 12px;
		display: block;
		clear: left;
		color: #666;
		text-transform: uppercase; }
	.teaser { 
		color: #b8d6d4;
		line-height: 1.5em;}
	.more-link {
		display: block;
		font-size: 12px;
		margin-top: .5em;
		text-align: right;
		a { color: white; }
	}
	img { margin: 0 0 5px 10px; }
}
// .secondary-feature.news {
// 	// border-left: 0;
// 	background-image: none;
// }

// Communications boxes in the sidebar on sub-pages
.sidebar {
	.secondary-feature {
		padding: 20px;
		margin-bottom: 20px;
		height: auto;
		a {
			color:$cornell-medium-blue;
		}

		h3 { 
			// color: $dark-gray;
			border-bottom: 2px solid $tan;
			i { display: none; }
		}
		// .btn-rss { 
		// 	// background: $light-gray;
		// 	margin-top: 0; }
		.secondary-feature-item {
			 // margin-bottom: 1em;
			 // padding-bottom: 1em;
			 // border-bottom: 2px solid white;
		}
		.secondary-feature-events {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
		.more-link { font-size: 11px; }
		.callout-label { color: $dark-gray; }

		.title {
			display: block;
			font-size: 18px;
			margin-bottom: .5em;
		}
		.block {
			border-top: 2px solid white;
			padding-top: 1em;
			margin-bottom: 1em;
		}
		.block:first-child {
			border-top: 0;
			padding-top: 0;
		}
		.block:last-child { margin-bottom: 0; }
	}
}

// Bridge page
// -------------------------

.bridge {
	.bridge-section { 
		clear: both;
		margin-bottom: 20px; }
	// two-column bridge
	.row {
		.bridge-section { 
			@include make-sm-column(6);
			clear: both;
			margin-bottom: 0; }
	}
	.bridge-content {
		float: left;
	}
	h2 {
		border-bottom: 5px solid $light-tan;
		padding-bottom: 5px;
		color: $cornell-primary;
		margin: 0 0 .25em;
		font-weight: normal;
	}
	h3 { margin: 0 0 .25em; }
	.nav-section { 
		// float: left;
		li {
			a { 
				padding-left: 18px;
				i { margin-top: 6px; }
			}
		}
	}
	p {
		font-size: 14px;
	}
	img { 
		margin-right: 10px;
		max-width: 100px;
		display: none;
	}
	.bridge-highlight {
		h3 { color: $cornell-primary; }
		img { max-width: 75px; }
	}
}

// one-column bridge with photos
.bridge-one-column {
	.bridge-section { 
		overflow: hidden;
		padding-bottom: 10px;
		border-bottom: 1px solid $light-tan; }
	.bridge-section:first-child { margin-top: 1em; }
	.bridge-content {
		@include make-sm-column(10);
		padding-left: 0;
	}
	img { max-width: 100px; }
}

// Call-outs
// -------------------------

.callout {
	background: $pale-tan;
	padding: 15px;
	margin-bottom: 20px;
	// text-align: center;
	h3 {
		font-weight: 400;
		margin: 0 0 .5em;
		font-size: 18px;
		text-align: left; }
	img { margin-bottom: .5em; }
	.callout-label {
		color: $cornell-primary;
		text-transform: uppercase;
		font-size: 12px;
		margin-bottom: .25em;
		font-weight: 700;
	}
}

// Courses form
// -------------------------

// courses form on home page
.feature {
	.courses-form {
		margin-bottom: 10px;
		padding: 5px 0;
		border-bottom: 1px dotted $tan;
		form { margin-bottom: 0; }
		.btn { vertical-align: top; }
	}
}


// Highlight box
// -- contains things like related links and contact info
// --------------------------------------------------------
.highlight-box {
	padding-bottom: 5px;
	h3 {
		color: $medium-gray;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0 0 1em;
		font-size: 12px;
	}
	h4 { 
		font-weight: 700;
		font-size: 14px;
		margin: .75em 0 .25em; }
	h4:first-child { margin-top: 0; }
	p { font-size: 14px; }
	ul { padding-left: 18px; }
	li { 
		margin-bottom: .5em;
		font-size: 14px; }
}
// set a width on a highlight box that
.pull-right.highlight-box { 
	float: none !important;

}


// News page
//--------------------------

.feature-story {
	h3 {
		font-size: 26px;
		font-family: Oxygen;
		font-weight: 700;
		border-bottom: 5px solid $light-tan;
		padding-bottom: 10px;
		margin: 0 0 .5em;
	}
}

// Announcement
// -------------------------

.announcement {
	background: white;
	padding: 15px 0;
	font-weight: bold;
	text-align: center;
	color: $cornell-primary;
}
.not-front {
	.announcement {
		background: $pale-gray;
	}
}


// LibeScope
// -------------------------
.libescope-four {
	td {
		width:50%;
	}
	img {margin-right: 5px; 
	}
}

.libescope-image img {
	width:100%;
	height:auto;
}

// Delivery options table
// -------------------------

table.delivery-options {
	h3 {
		font-size: .9em
	}

	tr > td:first-child {
		color:$cornell-primary;
		text-align: center;
	}

	:first-child > td:first-child {
		color: $teal;
	}

}
// Forms with fieldsets - override wonky Bootstrap formatting
// -------------------------------------------------------------
.panel {
	 border: none;
	 -webkit-box-shadow: none;
	 box-shadow: none;
	 border-bottom: 1px solid $light-tan;
	 padding-bottom: 10px;
	 border-radius: 0;
}
.panel-heading {
	background-color: white;
	border: none;
	border-radius: 0;
	padding: 0;
}
.panel-default > .panel-heading {
	background-color: white;
}
legend {
	border-bottom: 0;
	margin-bottom: 15px;
}
.panel-title {
	font-size: 20px;
	font-weight: 700;
}
.panel-body {
	padding: 0;
}

// Large resource links, like visual resources
// ------------------------------------------------
.resource-wrapper {
	@include make-sm-column(4);
	border-top: 1px solid $light-tan;
}
.resource-wrapper:first-child {
	border-top: none;
}
.resource {
	text-align: center;
	h3 {
		margin-top: 5px;
		// color: $cornell-primary;
	}
	p { font-size: 14px; }
}
.resource-icon {
	i {
		font-size: 5em;
		margin-right: -20px;
		margin-top: 10px;
		// color: $cornell-blue;
		color: $tan;
	}
}

// My Account page
// -------------------------
h2.patroninfo-title { margin-top: 0; }

// Override ui-tabs-nav in module
#pi-tabs {
	margin: 20px 0;
	ul.ui-tabs-nav {
		font-family: $font-family-sans-serif;
		padding-left: 0;
		li {
			padding-left: 0;
			margin-left: 0;
			font-size: 12px;
			font-weight: normal;
		}
		a { 
			background: white;
		}
		a:link, a:visited {
			color: $medium-gray;
		}
		a:hover,
		a span:hover {
			background: white;
		color: $dark-gray;
		}
	}
}
.ui-tabs-nav,
.ui-tabs-panel {
	font-family: $font-family-sans-serif;
}
#pi-tabs ul.ui-tabs-nav li.ui-tabs-selected a span {
	background: white;
	@include border-top-radius($border-radius-small);
	border: 1px solid $light-gray;
	border-bottom: 1px solid white;
	height: 32px;
	color: $dark-gray;
	cursor: pointer;
}
.ui-tabs-nav a, .ui-tabs-nav a span {
    background-image: none;
}
// tab content
#renewform {
	#frag-0,
	#frag-1,
	#frag-2,
	#frag-3,
	#frag-4 {
		border: 1px solid $light-gray;
		width: 100%;
	}
	button { 
		margin-bottom: 5px;
		font-size: 12px;
	}
	thead {
		th {
			font-size: inherit;
			font-weight: normal;
			color: $dark-gray;
		}
	}
	caption { text-indent: -9999px; }
}
.patroninfo-export { margin-left: 10px; }

// copy bootstrap table styles
// Baseline styles
.sticky-table {
  width: 100%;
  margin-bottom: $line-height-computed;
  // Cells
  thead,
  tbody,
  tfoot {
    > tr {
      > th,
      > td {
        padding: $table-cell-padding;
        line-height: $line-height-base;
        vertical-align: top;
        border-top: 1px solid $table-border-color;
      }
    }
  }
  // Bottom align for column headings
  thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $table-border-color;
  }
  // Remove top border from thead by default
  caption + thead,
  colgroup + thead,
  thead:first-child {
    tr:first-child {
      th, td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  tbody + tbody {
    border-top: 2px solid $table-border-color;
  }

  // Nesting
  .table {
    background-color: $body-bg;
  }
}


// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
	.secondary-feature {
		margin-bottom: 0;
	}
	.bridge {
		// two-column bridge
		.row {
			.bridge-section { 
				@include make-sm-column(6);
				clear: none;
				margin-bottom: 0;
			}
		}
		img { display: block; }
	}
	.pull-right.highlight-box {
		margin-left: 15px;
		width: 40%;
		float: right !important;
	}
	.resource-wrapper {
		border-left: 1px solid $light-tan;
		border-top: none;
		height: 200px;
	}
	.resource-wrapper:first-child {
		border-left: none;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	.secondary-feature {
		padding: 0 20px;
	}
}