// Feature boxes
// -------------------------
.feature {
	margin: 0 10px 15px 10px;
	h2 {
		font-size: 26px;
		font-family: $font-family-sans-serif;
		font-weight: 700;
		border-bottom: 5px solid $light-tan;
		padding-bottom: 10px;
		margin: 0 0 .5em;
		color: $cornell-primary;
		i { 
			color: $cornell-primary;
			font-size: 20px; }
	}
}
.secondary-feature {
	margin-bottom: 30px;
	// height: 250px;
	h3 {
		font-size: 26px;
		font-weight: normal;
		border-bottom: 5px solid $teal;
		padding-bottom: 10px;
		margin: 0 0 .5em;
		color: white;
	}
	i { 
		color: #cde8e6;
		margin-right: 8px; }
	.btn-rss { 
		margin: 4px 0 0 10px;
		i {
			color: white;
			margin-right: 0; }
	}
	.title {
		display: block;
		font-size: 18px;
		margin-bottom: .5em;
		a { color: white; }
	}
	.libescope-type {
		font-size: 12px;
		display: block;
		clear: left;
		color: #666;
		text-transform: uppercase; }
	.teaser { 
		color: #cde8e6;
		line-height: 1.5em;}
	.more-link {
		display: block;
		font-size: 12px;
		margin-top: .5em;
		text-align: right;
		a { color: white; }
	}
	img { margin: 0 0 5px 10px; }
}
.secondary-feature.news {
	// border-left: 0;
	background-image: none;
}

// Communications boxes in the sidebar on sub-pages
.sidebar {
	.secondary-feature {
		padding: 20px;
		margin-bottom: 20px;
		height: auto;
		h3 { 
			// color: $dark-gray;
			border-bottom: 2px solid $tan;
			i { display: none; }
		}
		// .btn-rss { 
		// 	// background: $light-gray;
		// 	margin-top: 0; }
		.secondary-feature-item {
			 margin-bottom: 1em;
			 padding-bottom: 1em;
			 border-bottom: 2px solid white;
		}
		.secondary-feature-item:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
		.more-link { font-size: 11px; }
		.callout-label { color: $dark-gray; }
	}
}

// Bridge page
// -------------------------

.bridge {
	.bridge-section { 
		clear: both;
		margin-bottom: 20px; }
	// two-column bridge
	.row {
		.bridge-section { 
			@include make-sm-column(6);
			clear: none;
			margin-bottom: 0; }
	}
	.bridge-content {
		float: left;
	}
	h2 {
		border-bottom: 5px solid $light-tan;
		padding-bottom: 5px;
		color: $cornell-primary;
		margin: 0 0 .25em;
		font-weight: normal;
	}
	h3 { margin: 0 0 .25em; }
	.nav-section { 
		// float: left;
		li {
			a { 
				padding-left: 18px;
				i { margin-top: 6px; }
			}
		}
	}
	p {
		font-size: 14px;
	}
	img { 
		margin-right: 10px;
		max-width: 100px; }
	.bridge-highlight {
		h3 { color: $cornell-primary; }
		img { max-width: 75px; }
	}
}

// one-column bridge with photos
.bridge-one-column {
	.bridge-section { 
		overflow: hidden;
		padding-bottom: 10px;
		border-bottom: 1px solid $light-tan; }
	.bridge-section:first-child { margin-top: 1em; }
	.bridge-content {
		@include make-sm-column(10);
		padding-left: 0;
	}
	img { max-width: 100px; }
}

// Call-outs
// -------------------------

.callout {
	background: $pale-tan;
	padding: 15px;
	margin-bottom: 20px;
	// text-align: center;
	h3 {
		font-weight: 400;
		margin: 0 0 .5em;
		font-size: 18px;
		text-align: left; }
	img { margin-bottom: .5em; }
	.callout-label {
		color: $cornell-primary;
		text-transform: uppercase;
		font-size: 12px;
		margin-bottom: .25em;
		font-weight: 700;
	}
}

// Courses form
// -------------------------

// courses form on home page
.feature {
	.courses-form {
		margin-bottom: 10px;
		padding: 5px 0;
		border-bottom: 1px dotted $tan;
		form { margin-bottom: 0; }
		.btn { vertical-align: top; }
	}
}


// Highlight box
// -- contains things like related links and contact info
// --------------------------------------------------------
.highlight-box {
	h3 {
		color: $medium-gray;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0 0 1em;
		font-size: 12px;
	}
	h4 { 
		color: $medium-gray;
		font-weight: 700;
		margin: 0 0 1em;
		font-size: 12px; }
	p { font-size: 14px; }
	ul { padding-left: 18px; }
	li { 
		margin-bottom: .5em;
		font-size: 14px; }
}
// set a width on a highlight box that
.pull-right.highlight-box { 
	margin-left: 15px;
	width: 40%; }


// News page
//--------------------------

.feature-story {
	h3 {
		font-size: 26px;
		font-family: Oxygen;
		font-weight: 700;
		border-bottom: 5px solid $light-tan;
		padding-bottom: 10px;
		margin: 0 0 .5em;
	}
}

// Announcement
// -------------------------

.announcement {
	background: white;
	padding: 15px 0;
	font-weight: bold;
	text-align: center;
	color: $cornell-primary;
}

// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
	.secondary-feature {
		margin-bottom: 0;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	.secondary-feature {
		padding: 0 20px;
	}
}