.cornell-brand {
	background: white;
	margin-top: 80px;
	h1 { 
		display: inline; 
		margin: 0; }
}
.cornell-logo {
	@include make-sm-column(8);
	padding-left: 0;
	.insignia {
		float: left;
		margin-right: 1em;
		background: url("/sites/all/themes/bootstrap_cul7/img/layout/cornell_seal_simple_b31b1b.svg") no-repeat;
		width: 120px;
		height: 120px;
		text-indent: -99999em;
	}
}
.navbar-header.visible-xs {
	padding: 5px 10px;
}
.mobile-cornell-logo {
	background: url("/sites/all/themes/bootstrap_cul7/img/layout/cornell-reduced-black.svg");
	width: 200px;
	height: 45px;
	display: block;
	text-indent: -99999em;
}
.library-brand {
	font-family: $font-family-cul;
	text-transform: uppercase;
	font-size: 17px;
	padding: 0 10px;
	margin: 0 0 .5em 0;
	a {
		color: $dark-gray;
	}
	a:hover, a:focus, a:active {
		text-decoration: none;
		color: $dark-gray;
	}
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	.cornell-brand {
		height: 140px;
		padding: 10px 0;
		margin-top: 60px;
	}
	.library-brand {
		font-size: 21px;
		margin: 2em 0;
		padding: 0;
	}
}
// Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	.library-brand {
		font-size: 26px;
		margin-top: 1.5em;
	}
}

