// Breadcrumbs
// -------------------------
.breadcrumb {
	background: inherit;
	padding: 15px;
	margin-bottom: 0;
	clear: both;
	li { font-size: .75em; }
	a { color: #555555; }
}
.breadcrumb > .active {
	color: #555555;
}

// Buttons
// -------------------------
.btn-rss {
	background: #1a665f;
	padding: 0 4px;
}
.btn-rss:hover { background: black; }
.btn-cul {
	border: 1px solid $btn-cul-border;
}
.btn-libraries {
	background: $dark-teal;
	color: $light-gray;
	border-radius: 0;
	i {
		color: $medium-teal;
		margin-left: 3px;
	}
}
.btn-libraries:hover,
.btn-libraries:focus {
	background: $dark-teal;
	color: white;
}
.btn-feedback {
	background: $dark-teal;
	color: white;
	color: $light-gray;
	border-radius: 0;
}
.btn-feedback:hover {
	background: $dark-teal;
	color: white;
}
.btn-give {
	font-family: $font-family-cul;
	margin-top: 2em;
	color: white;
	// padding: 10px 15px;
	border: 0;
	font-size: 14px;
	margin-left: 15px; // for mobile, mostly
	border-radius: 0;
	background: $cornell-primary-hover;
	text-transform: uppercase;
}
.btn-give:hover,
.btn-give:focus {
	background: $cornell-primary;
	color: white;
	border: 0;
}

// Well
// -------------------------
.well { background: $pale-tan; }


// Footnotes
// -------------------------
.footnotes {
	border-top: 1px solid $tan;
	padding-top: 20px;
	p { font-size: 14px; }
}

// Media 
// -------------------------
.media-object {
	border: 3px solid $light-tan;
}
.media {
	border-bottom: 1px solid $light-tan;
	padding-bottom: 15px;
}
.main-content .media-body p {
	font-size: 14px;
}

// Citation styles
// ------------------------------
.citation {
	text-indent: -2em;
	margin: 1em 2em 2em 6em;
	line-height: 1.5em;
	font-size: 14px;
	font-family: courier, monospace;
	p { font-size: 1em; }
}

// Floated images
// -------------------------
.img-right {
	margin: 0 0 15px 15px;
	img { max-width: 200px; }
}

// Forms in the main content area
// -----------------------------

.main-content {
	.webform-client-form {
		margin: 20px 0;
		.form-item { margin: 0 0 1em; }
		.panel {
			margin-bottom: 10px;
		}
	}
}
// Give a little more space for fieldset headings
.webform-component-fieldset {
	.panel-heading {
		margin: 1em 0 .5em 0;
	}
}

// Social icons and links
// -----------------------------

.social-links {
	i { 
		font-size: 40px;
	}
	a { color: white; }
	.facebook-button { margin-right: 5px; }
}

// PDF icon
// -------------------------
.pdf-icon { margin-bottom: 5px; }

// Top link
// -------------------------
.main-content {
	.top-link {
		text-align: right;
		font-size: 12px;
	}
}

// Print logo
// -----------
.print-logo {
	display: none;
}

// Accessibility overrides 
// -------------------------
// Increase color contrast:
.control-group .help-inline, .help-block { color: #555555; }


// Skip to content link
// https://webaim.org/techniques/css/invisiblecontent/#skipnavlinks
// ---------------------------------------

#skip a
{ 
position:absolute; 
left:-10000px; 
top:auto; 
width:1px; 
height:1px; 
overflow:hidden;
} 
 
#skip a:focus 
{ 
position:static; 
width:auto; 
height:auto; 
} 

// Selectors table - set table header widths
// -----------------------------------------------------------------
.selector-phone { width: 15%; }
.selector-name { width: 30%; }


.form-email {
  display: block;
  width: 100%;
  height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  vertical-align: middle;
  background-color: $input-bg;
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus();

  // Disabled and read-only inputs
  // Note: HTML5 says that controls under a fieldset > legend:first-child won't
  // be disabled if the fieldset is disabled. Due to implementation difficulty,
  // we don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    background-color: $input-bg-disabled;
  }
}

// Login page -- add more space above CUL Login
// ------------------------------------------------

.block-cu-webauth { margin-top: 40px; }

// Image search
// ------------------------------------------------
// fix alignment of input and button
.form-image-search {
	.form-group { margin-bottom: 0; }
}

// Site under maintenance page
// ------------------------------------------------
.maintenance-page {
	background: white;
	.main-content {
		padding-top: 60px;
		min-height: 500px;
	}
}

// Covid last updated
// ------------------------------------------------
.covid-last-updated {
	margin-top: .5em;
	.label {
		font-weight: normal;
		font-size: 12px;
	}
}
.covid-last-updated-banner {
	color: white;
	margin-top: .15em;
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 

	// Columned lists
	// -----------------------------
	.multicolumn {
	    -moz-column-count: 2;
	    -moz-column-gap: 20px;
	    -webkit-column-count: 2;
	    -webkit-column-gap: 20px;
	    column-count: 2;
	    column-gap: 20px;
	    li { font-size: 14px; }
	}
	// .btn-libraries {
	// 	display: inline-block;
	// 	text-align: center;
	// }
}

// Medium devices (desktops, 992px and up)
// @media (min-width: $screen-md) {
// }