.nav-global {
	@include make-sm-column(6);
	padding-right: 0;
	.nav { 
		list-style: none;
		float: right;
		li { 
			float: left;
			font-size: 12px;
			border-left: 1px solid $cornell-primary-hover; }
		li:first-child { border-left: 0; }
		a { 
			margin: 0 8px;
			padding: 0;
			display: inline-block;
			color: white; }
		a:hover { 
			text-decoration: underline;
			background: inherit; }
	}	
}

.search-nav {
	.nav-pills { 
		float: right;
		a { 
			// color: $dark-gray;
			// background: $tan;
			padding: 6px 10px; }
		// a:hover { background: $dark-tan; }
	}
}

// Section nav list treatment
// ----------------------------

.nav-section { 
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		font-size: 14px;
		a {
			padding: 4px 0 4px 18px;
			i { 
				color: $light-gray;
				margin-top: 5px;
				margin-left: 20px; }
		}
		a:hover {
			// background: $light-tan; // TODO: make into a global override for nav so it affects subpage subnav
			background: inherit;
			text-decoration: underline;
			i { 
				text-decoration: none;
				 }
		}
	}
}
// override bootstrap dropdown-menu class
// .sidebar {
// 	.dropdown-menu {
// 		position: relative;
// 		top: 0; 
// 		display: block;
// 		float: none;
// 		width: auto;
// 		padding: 0;
// 		margin: 0;
// 		border: 0;
// 		-webkit-box-shadow: none;
// 		-moz-box-shadow: none;
// 		box-shadow: none;
// 		a {

// 		}
// 	}
// }
// // 3rd-level navigation
// 		ul {
// 			list-style: none;
// 			padding-left: 30px;
// 			padding-bottom: 10px;
// 			li {
// 				font-size: 14px;
// 				a { 
// 					display: block;
// 					padding: 2px 0; }
// 			}
// 			.active {
// 				a { color: inherit; }
// 			}
// 		}


// Sidebar sub-navigation
// ----------------------------

.sidebar {
	padding-bottom: 30px;
	.block-title {
		color: $cornell-primary;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0 0 .5em;
		font-size: 14px;
		a {
			padding-left: 0;
			color: $cornell-primary;
		}
	}
	.nav { 
		padding-bottom: 15px;
		margin: 0 0 40px;
		border-bottom: 5px solid $light-tan;
		li {
			content: "\f054"; 
			font-size: 16px;
			a { padding: 4px 0 4px 18px; }
			a:hover {
				background: inherit;
				text-decoration: underline;
				i { text-decoration: none; }
			}
		}
		.active {
			a { 
				color: inherit;
				i { color: $cornell-primary; }
			}
			li {
				a { color: $link-color; }
				a:hover { color: $link-color-hover; }
			}
		}
		// 3rd-level navigation - add Bootstrap overrides to dropdown-menu
		.dropdown-menu {
			position: relative;
			top: 0; 
			display: block;
			float: none;
			width: auto;
			padding: 0 0 10px 30px;
			margin: 0;
			border: 0;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			li {
				font-size: 14px;
				a { 
					display: block;
					padding: 2px 0; }
			}
			.active {
				a { color: inherit; }
			}
		}
	}
}

// Floating related links
// ----------------------------

.related-links {
	margin-bottom: 40px;
	background: white;
	width: 30%;
	h3 {
		color: $medium-gray;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0 0 1em;
		font-size: 12px;
	}
	ul { padding-left: 18px; }
	li { 
		margin-bottom: .5em;
		font-size: 14px; }
}

// Override Bootstrap's unclickable parent link
// https://drupal.org/comment/7228804#comment-7228804
// ------------------------------------------------
// ul.nav li.dropdown:hover ul.dropdown-menu {
//   display: block;
// }
// ul.nav li.dropdown ul.dropdown-menu {
//   margin-top: 0;
// }


// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {

}
