.nav-global {
	@include make-sm-column(6);
	padding-right: 0;
	text-align: right;
	.nav { 
		list-style: none;
		float: right;
		li { 
			float: left;
			font-size: 12px;
			border-left: 1px solid $cornell-primary-hover; }
		li:first-child { border-left: 0; }
		a { 
			margin: 0 8px;
			padding: 0;
			display: inline-block;
			color: white; }
		a:hover { 
			text-decoration: underline;
			background: inherit; }
	}	
}

.search-nav {
	.nav-pills { 
		float: right;
		a { 
			// color: $dark-gray;
			// background: $tan;
			padding: 6px 10px; }
		// a:hover { background: $dark-tan; }
	}
}

// Section nav list treatment
// ----------------------------

.nav-section { 
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		font-size: 14px;
		a {
			padding: 4px 0 4px 15px;
			display: inline-block;
			i { 
				color: $light-gray;
				margin-top: 6px;
				margin-left: 22px; }
		}
		a:hover {
			background: inherit;
			text-decoration: underline;
			i { 
				text-decoration: none;
				 }
		}
	}
}


// Sidebar sub-navigation
// ----------------------------

.sidebar {
	padding-bottom: 30px;
	.block-title {
		color: $cornell-primary;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0 0 .5em;
		font-size: 14px;
		a {
			padding-left: 0;
			color: $cornell-primary;
		}
	}
	.nav { 
		padding-bottom: 15px;
		margin: 0 0 40px;
		border-bottom: 5px solid $light-tan;
		li {
			content: "\f054"; 
			font-size: 16px;
			a { 
				padding: 4px 0 4px 18px;
				display: inline-block;
				i { 
					color: $light-gray;
					margin-top: 7px;
					margin-left: 24px; }
			}
			a:hover {
				background: inherit;
				text-decoration: underline;
				i { text-decoration: none; }
			}
		}
		.active, .active-trail,
		// force active menu for liaisons section
		.menu-mlid-827 {
			a { 
				color: inherit;
				i { color: $cornell-primary; }
			}
			li {
				a { color: $link-color; }
				a:hover { color: $link-color-hover; }
			}
		}
		// 3rd-level navigation - add Bootstrap overrides to dropdown-menu
		.dropdown-menu {
			position: relative;
			top: 0; 
			display: block;
			float: none;
			width: auto;
			padding: 0 0 10px 25px;
			margin: 0;
			border: 0;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			z-index: 0;
			li {
				font-size: 14px;
				a { 
					display: inline-block;
					color: $link-color;
					padding: 2px 0; }
				a:hover {
					color: $link-color-hover;
					background: inherit;
				}
			}
			.active, .active-trail {
				a { 
					color: inherit;
					background: inherit; }
			}
			// 4th level
			.dropdown-menu {
				padding-left: 15px;
				margin-top: 5px;
				li { font-size: 12px; }
				.active { font-weight: 700; }
			}
		}
	}
}

// override bootstrap dropdown link wrapping
.dropdown-menu > li > a { white-space: normal; }

// // override bootstrap focus color
.nav {
  > li {
    > a {
      &:focus {
        background-color: white;
      }
    }
  }
}
.navbar-collapse {
	.nav {
	  > li {
	    > a {
	      &:focus {
	        background-color: black;
	      }
	    }
	  }
	}
}

// Override Bootstrap's unclickable parent link
// https://drupal.org/comment/7228804#comment-7228804
// ------------------------------------------------
// ul.nav li.dropdown:hover ul.dropdown-menu {
//   display: block;
// }
// ul.nav li.dropdown ul.dropdown-menu {
//   margin-top: 0;
// }


// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {

}
