// Unit library
//-------------//
.unit-map {
	margin: 20px 0;}
.unit-location {
	margin-top: 20px;
}
// administrator not currently displaying
.unit-administrator {
	font-size: 16px;
	margin-bottom: 1em;
}
.gmap {
	border: 5px solid $light-gray;
}

// Library spaces
//------------------//
.auxiliary-title {
	font-size: 90%;
	margin-top: .25em;
	color: $medium-gray;
	font-weight: normal;
}
.space { font-weight: 700; }

// Search tips table
//------------------//

.page-node-90 {
	td { width: 33%; }
}

// Liaisons
//------------------//

// Liaison listing

.liaison-title { 
	font-size: 1.1em;
	margin: .5em 0 .25em; }
.liaison-info {
	font-size: .875em;
	margin-bottom: .5em;
	.divider { 
		color: $medium-gray;
		padding: 0 5px;
	}
}
.liaison-to {
	margin: .5em 0 .25em;
}
.main-content {
	.liaison-dept { 
		padding-left: 18px;
		li {
			font-size: 14px;
		}
	}
}

// Courses
//------------------//
.main-content {
	.courses-form {
		li { 
			font-size: 12px;
		}
	}
}
.front {
	.main-content {
		.courses-form {
			a {
				padding: 3px 10px;
			}
		}
	}
}
.course-section {
	margin: 0 0 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid $light-tan;
	li { font-size: 14px; }
	p { margin-bottom: .25em; }
}
.course_help_detailContent { line-height: 22px; }
// .course_help_title {
// 	font-size: 18px;
// 	font-weight: 700;
// 	margin-bottom: .5em;
// }

// MEDIA QUERIES
// -------------------------

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
	.front {
	  	.main-content {
	  		.courses-form {
	  			.dropdown { width: 350%;}
	  		}
	  	}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	.front {
	  	.main-content {
	  		.courses-form {
	  			.dropdown { width: 250%;}
	  		}
	  	}
	}
}