// Unit library
//-------------//
.unit-map {
	margin: 20px 0;
	.gmap {
		border: 5px solid $light-gray;
		width: 100% !important;
	}
}
.unit-location {
	margin-top: 20px;
}
// administrator not currently displaying
.unit-administrator {
	font-size: 16px;
	margin-bottom: 1em;
}

.node-type-unit-library {
	.highlight-box {
		p { font-size: 14px; }
	}
}

// Libraries and Hours
//--------------------------//
.view-libraries-and-hours {
	h2 {
		font-size: 22px;
		margin-top: 0;
		font-weight: normal;
		display: inline-block;
	}
	h2:hover {
		text-decoration: underline;
	}
	.unit-library {
		padding: 15px 0;
	 	border-bottom: 1px solid $light-tan;
	 	clear: both;
	 	overflow: hidden;
	 	.col-sm-4 {
	 		padding-left: 0;
	 	}
	}
}
.list-hours {
	margin-bottom: .5em;
	.label {
		margin-left: .5em;
	}
}
.list-phone {
	margin-bottom: .25em;
	span {
		margin-right: .5em;
	}
}
.list-email {
	margin-top: .3em;
}
.today-hours {
	margin-right: 30px;
	margin-bottom: .75em;
	span {
		margin-right: .5em;
	}
}
.full-hours {
	a {
		display: inline-block;
		padding: 0 5px;
	}
	a:first-child {
		border-right: 1px solid $tan;
		padding-left: 0;
	}
}
.library-thumbnail {
	float: left;
	width: 58px;
	img {
		padding: 4px;
		border: 1px solid #ddd;
		transition: all .2s ease-in-out;
		display: inline-block;
		margin-right: 15px;
		max-width: 100%;
		height: auto; // must specify height because height and width are added in html through drupal
	}
}
.library-info {
	float: left;
	width: 75%;
	margin-left: 1em;
}
// .library-hours {
// 	div {
// 		h2:first-child { display: none; }
// 	}
// }
.library-hours {
	margin-top: 1.5em;
	// give the h2 from the hours service the same treatment as an h3
	h2 {
  		font-weight: 700;
  		font-size: 18px;
	}
	ul {
		padding-left: 1em;
		line-height: 1.5em;
		margin-bottom: 0;
	}
	p {
		margin-bottom: 0;
		margin-top: 1.5em;
	}
	// add spacing in between hours info at top (location, description, date range)
	div:first-child {
		line-height: 1.75em;
	}
}

// Library spaces
//------------------//
.auxiliary-title {
	font-size: 90%;
	margin-top: .25em;
	color: $medium-gray;
	font-weight: normal;
}
.space { font-weight: 700; }

// Search tips table
//------------------//

.page-node-90 {
	td { width: 33%; }
}

// Liaisons
//------------------//

// Liaison listing

.liaison-title { 
	font-size: 1.1em;
	margin: .5em 0 .25em; }
.liaison-info {
	font-size: .875em;
	margin-bottom: .5em;
	.divider { 
		color: $medium-gray;
		padding: 0 5px;
	}
}
.liaison-to {
	margin: .5em 0 .25em;
}
.main-content {
	.liaison-dept { 
		padding-left: 18px;
		li {
			font-size: 14px;
		}
	}
}

// Courses
//------------------//
.main-content {
	.courses-form {
		li { 
			font-size: 12px;
		}
	}
}
.front {
	.main-content {
		.courses-form {
			a {
				padding: 3px 10px;
			}
		}
	}
}
.course-section {
	margin: 0 0 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid $light-tan;
	ul { margin: 5px 0 0; }
	li { font-size: 14px; }
	p { margin-bottom: .25em; }
	h3 { 
		font-weight: normal;
		margin-top: 0;
	}
}
.course_help_detailContent { line-height: 22px; }
#edit-description { margin-bottom: 0; }

// hide the autocomplete refresh thing that the Bootstrap theme is adding by itself
.courses-form {
	.input-group-addon { display: none; }
	.input-group {
		width: 100%;
		.form-control:first-child {	
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}
}
// courses page / box layout
.page-node-2282 {
	.courses-form {
		label { font-size: 18px; }
	}
}
.box-layout {
	h2 { 
		margin-top: 0; 
		font-size: 18px;
	}
}

// Borrowing policies
// ---------------------- //
#views-exposed-form-borrowing-policy-block {
	margin-bottom: 40px;
	select.form-control { width: 100%; }
}
.node-type-patron-group,
.view-borrowing-policy {
	th { width: 50%; }
	h3 {
		color: $cornell-primary;
		font-size: 20px;
		margin-bottom: 20px;
	}
}
#block-views-borrowing-policy-block {
	.views-exposed-form {
		label { font-weight: normal; }
	}
	.views-exposed-form {
		.views-exposed-widget {
			.form-submit { margin-top: 1.8em; }
		}
	}
}


// MEDIA QUERIES
// -------------------------

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
	.front {
	  	.main-content {
	  		.courses-form {
	  			.dropdown { width: 350%;}
	  		}
	  	}
	}
	.library-thumbnail {
		width: 100px;
	}
	.library-info {
		width: 75%;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	.front {
	  	.main-content {
	  		.courses-form {
	  			.dropdown { width: 250%;}
	  		}
	  	}
	}
	.page-node-2282 {
		.courses-form {
			height: 315px;
		}
	}
}