// Unit library
//-------------//
.unit-map {
	margin: 20px 0;
	.gmap {
		border: 5px solid $light-gray;
		width: 100% !important;
	}
}
.unit-location {
	margin-top: 20px;
}
// administrator not currently displaying
.unit-administrator {
	font-size: 16px;
	margin-bottom: 1em;
}

.node-type-unit-library {
	.highlight-box {
		p { font-size: 14px; }
	}
}
.hours-note {
	font-weight: 700;
	display: inline-block;
	padding: 10px 15px;
	background: $pale-gray;
	font-style: italic;
}

// Libraries and Hours
//--------------------------//
.view-libraries-and-hours {
	h2 {
		font-size: 22px;
		margin-top: 0;
		font-weight: normal;
		display: inline-block;
	}
	h2:hover {
		text-decoration: underline;
	}
	.unit-library {
		padding: 15px 0;
	 	border-bottom: 1px solid $light-tan;
	 	clear: both;
	 	overflow: hidden;
	 	.col-sm-4 {
	 		padding-left: 0;
	 	}
	}
}
.list-hours {
	margin-bottom: .5em;
	.label {
		margin-left: .5em;
	}
}
.list-phone {
	margin-bottom: .25em;
	span {
		margin-right: .5em;
	}
}
.list-email {
	margin-top: .3em;
}
.today-hours {
	margin-right: 30px;
	margin-bottom: .75em;
}
.full-hours {
	a {
		display: inline-block;
		padding: 0 5px;
	}
	a:first-child {
		border-right: 1px solid $tan;
		padding-left: 0;
	}
}
.library-thumbnail {
	float: left;
	width: 58px;
	img {
		padding: 4px;
		border: 1px solid #ddd;
		transition: all .2s ease-in-out;
		display: inline-block;
		margin-right: 15px;
		max-width: 100%;
		height: auto; // must specify height because height and width are added in html through drupal
	}
}
.library-info {
	float: left;
	width: 75%;
	margin-left: 1em;
}
.library-hours {
	margin-top: 1.5em;
	// give the h2 from the hours service the same treatment as an h3
	h2 {
  		font-weight: 700;
  		font-size: 18px;
  		margin-bottom: 1.5em;
	}
	ul {
		padding-left: 1em;
		line-height: 1.5em;
		margin-bottom: 1em;
	}
	p {
		margin-bottom: 0;
		margin-top: 1.5em;
	}
	// add spacing in between hours info at top (location, description, date range)
	div:first-child {
		line-height: 1.75em;
	}
}
.node-tools {
	margin-bottom: .25em;
	i {
		margin-left: .25em;
	}
}
.pull-right.node-tools {
	float: none !important;
}
// Print hours block
#block-cul-hours-hours-printable {
	padding: 20px;
	background: $pale-gray;
	margin-bottom: 1.5em;
}

// Library spaces
//------------------//
.auxiliary-title {
	font-size: 90%; // on list view
	margin-top: .25em;
	color: $medium-gray;
	font-weight: normal;
}
.space { font-weight: 700; }
.space-unit-library {
	font-size: 16px;
	 margin-bottom: 1em;
}
.space-auxiliary-title { // on space node itself
	font-size: 18px;
	margin: 0 0 .5em;
}
.space-contact-point {
	font-size: 16px;
	line-height: 1.5em;
}
.space-website {
	font-size: 16px;
}
// remove default bold state of node label just for library space
.node-library-space {
	.field {
		.field-label {
			font-weight: normal;
			margin-right: .25em;
		}
	}
}
// display multiple values inline
.space-access,
.space-type {
	.field-item {
		display: inline;
		margin-right: .5em;
	}
}

// Search tips table
//------------------//

.page-node-90 {
	td { width: 33%; }
}

// Liaisons
//------------------//

// Liaison listing

.liaison-title { 
	font-size: 1.1em;
	margin: .5em 0 .25em; }
.liaison-info {
	font-size: .875em;
	margin-bottom: .5em;
	.divider { 
		color: $medium-gray;
		padding: 0 5px;
	}
}
.liaison-to {
	margin: .5em 0 .25em;
}
.main-content {
	.liaison-dept { 
		padding-left: 18px;
		li {
			font-size: 14px;
		}
	}
}

// Courses
//------------------//

// courses form on home page
.feature {
	.courses-form {
		margin-bottom: 10px;
		padding: 5px 0;
		border-bottom: 1px dotted $tan;
		form { margin-bottom: 0; }
		.btn { vertical-align: top; }
	}
}

.main-content {
	.courses-form {
		li { 
			font-size: 12px;
		}
	}
}
.front {
	.main-content {
		.courses-form {
			a {
				padding: 3px 10px;
			}
		}
	}
}
.course-section {
	margin: 0 0 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid $light-tan;
	ul { margin: 5px 0 0; }
	li { font-size: 14px; }
	p { margin-bottom: .25em; }
	h3 { 
		font-weight: normal;
		margin-top: 0;
	}
}
.course_help_detailContent { line-height: 22px; }
#edit-description { margin-bottom: 0; }

// OLD FORM - hide the autocomplete refresh thing that the Bootstrap theme is adding by itself
.courses-form {
	.input-group-addon { display: none; }
	.input-group {
		width: 100%;
		.form-control:first-child {	
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}
}
// courses page / box layout
.page-node-2282 {
	.courses-form {
		label { font-size: 18px; }
	}
}
.box-layout {
	h2 { 
		margin-top: 0; 
		font-size: 18px;
	}
}

// New course reserves search - table display - override module CSS
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background: $tan;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background: $light-tan;
}

// New ares search
.main-content {
	#ares-search-form {
	    input.form-control,
	    select.form-control,
	    .form-email { 
	    	width: 100%;
	    }
	    .dropdown {
	    	li {
	    		font-size: 12px;
	    	}
	    }
	    // hide autocomplete icon and round edges
	    .input-group-addon {
	    	display: none;
	    }
	    .form-control:first-child {	
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	 }
}
.front {
	.block-ares {
		margin-bottom: 1.5em;
	}
}
.reserve-items {
	margin-top: 3em;
}

// Borrowing policies
// ---------------------- //
#views-exposed-form-borrowing-policy-block {
	margin-bottom: 40px;
	select.form-control { width: 100%; }
}
.node-type-patron-group,
.view-borrowing-policy {
	th { width: 50%; }
	h3 {
		color: $cornell-primary;
		font-size: 20px;
		margin-bottom: 20px;
	}
}
#block-views-borrowing-policy-block {
	.views-exposed-form {
		label { font-weight: normal; }
	}
	.views-exposed-form {
		.views-exposed-widget {
			.form-submit { margin-top: 1.8em; }
		}
	}
}
// float form elements on borrowing jump menu so they are inline
.view-borrowing-policy {
	.ctools-jump-menu-select {
		float: left;
		margin-right: 5px;
		margin-bottom: 2em;
		width: 80%;
	}
}

// Request materials
//--------------------------//
//make changes to bootstrap tabs but only on the request page
.page-node-1651 {
	.nav-tabs {
		margin-bottom: 0; 
		margin-top: 2em;
	}
	.tab-content {
		padding: 30px; 
		border: 1px solid #ddd; 
		border-top: 0;
		margin-bottom: 2em;
		h2 {
			margin-bottom: 1em;
		}
	}
}
table.delivery-options {
	h3 {
		font-size: .9em;
		margin-top: 12px;
	}
	tr > td:first-child {
		color:$cornell-primary;
		text-align: center;
	}
	:first-child > td:first-child {
		color: $teal;
	}
}

// Libescope
//--------------------------//
.field-name-field-libescope-image {
	img { // apply bootstrap img-thumbnail style
		padding: 4px;
		background: white;
		border: 1px solid #ddd;
		border-radius: 4px;
		height: auto;
	}
}
.node-libescope {
	.img-right {
		img {
			width: auto;
		}
	}
}

// News
//--------------------------//
// NODE
.node-type-article {
	.field-name-field-image {
		float: right;
		margin: 0 0 15px 0;
		img {
			max-width: 100%;
			// apply bootstrap img-thumbnail style
			padding: 4px;
			background: white;
			border: 1px solid #ddd;
			border-radius: 4px;
			height: auto;
		}
	}
	.field-name-field-news-dates {
		margin-bottom: 2em;
		font-size: 12px;
	}
}
// apply bootstrap img-thumbnail style to image on news view page
.view-display-id-page_1 {
	img {
		// apply bootstrap img-thumbnail style
		padding: 4px;
		background: white;
		border: 1px solid #ddd;
		border-radius: 4px;
		height: auto;
	}
	// format date on news view page
	.post-date {
		font-size: 12px;
		margin-bottom: 1em;
	}
}



// MEDIA QUERIES
// -------------------------

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
	// OLD courses form
	.front {
	  	.main-content {
	  		.courses-form {
	  			.dropdown { width: 350%;}
	  		}
	  	}
	}
	.library-thumbnail {
		width: 100px;
	}
	.library-info {
		width: 75%;
	}
	.pull-right.node-tools {
		float: right !important;
	}
	#ares-search-form {
		.input-group {
			width: 50%;
		}
	}
	.front {
		#ares-search-form {
			.input-group {
				width: 100%;
			}
			.dropdown {
				width: 350%;
			}
		}
	}
	.node-type-article {
		.field-name-field-image {
			max-width: 300px;
			margin-left: 15px;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	// old courses form
	.front {
	  	.main-content {
	  		.courses-form {
	  			.dropdown { width: 250%;}
	  		}
	  	}
	}
	// old courses form
	.page-node-2282 {
		.courses-form {
			height: 315px;
		}
	}
	.view-borrowing-policy {
		.ctools-jump-menu-select {
			width: 100%;
		}
	}
	.front {
		#ares-search-form {
			.dropdown {
				width: 250%;
			}
		}
	}
	.node-type-article {
		.field-name-field-image {
			max-width: 450px;
		}
	}
}