@media print {
    body {
    	font-family: sans-serif !important;
    	font-size: 90%;
    }
    h1, h2, h3, h4, h5, h6 {
    	font-family: sans-serif !important;
    	font-size: inherit !important;
    }
    h1 { 
    	font-size: 24px;
	}
	h2 { 
	  	font-size: 22px;
	 }
	h3 { 
	  	font-size: 20px;
	}
	h4 {
		font-size: 18px;
	}
    .sidebar,
    .breadcrumb-wrapper,
    footer,
    .nav-global {
    	display: none;
    }
    .main-text {
    	float: none;
    	width: 100%;
    }
}