@media print {
    body {
    	font-family: sans-serif !important;
    	font-size: 90%;
    }
    h1, h2, h3, h4, h5, h6 {
    	font-family: sans-serif !important;
    	font-size: inherit !important;
    }
    h1 { 
    	font-size: 24px !important;
	}
	h2 { 
	  	font-size: 22px !important;
	 }
	h3 { 
	  	font-size: 20px !important;
	}
	h4 {
		font-size: 18px !important;
	}
    // Don't print URLs
    // ------------------------
    a[href]:after {
        content: ""
    }
    abbr[title]:after {
        content: "";
    }
    .cornell-brand,
    .sidebar,
    .breadcrumb-wrapper,
    footer,
    .nav-global,
    #block-patroninfo-patroninfo button {
    	display: none !important;
    }
    .main-text {
    	float: none !important;
    	width: 90% !important;
        left: 0 !important;
    	padding: 0 !important;
    }
    .sidebar {
    	right: 0;
    	width: 100% !important;
    	float: none !important;
    }
    .print-logo {
        display: block;
    }
}