.jumbotron {
	margin-bottom: 0;
	background: inherit;
	border-radius: 0;
	padding: 0;
	line-height: 1; //override bootstrap to remove extra padding
}

.home-search {
	@include make-sm-column(9);
	@include make-md-column(8);
	@include make-lg-column(6);
	padding: 20px 10px 10px 10px;
	margin-bottom: 20px;
	h1 { 
		color: white;
		margin: .5em 0 1em 0;
		font-weight: normal;
		display: inline-block;
		float: left;
		font-family: $font-family-sans-serif;
		font-size: 16px;
	}
	.nav-tabs {
		border-bottom: 0;
		margin-bottom: 0;
		li { margin-bottom: 0; }
	}
	.nav-tabs > li > a,
	.nav-tabs > li > a:hover {
		font-size: 16px; 
		margin-right: 0;
		color: $light-gray;
		border: 0;
		background: rgba(22, 82, 77, .95);
		padding: 8px 15px;
	}
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:hover {
		border: 0;	
		background: #333;
		background: rgba(0,0,0,.85);
		font-weight: 400;
		color: white;
	}
	.tab-content { 
		border-radius: $border-radius-base;
		border-top-left-radius: 0;
		padding: 15px;
		background: #333; //ie8
		background: rgba(0, 0, 0, 0.85);
		height: 200px;
	}
	form {
		width: 100%;
		margin: 0;
		clear: both;
	}
	// .tab-pane { min-height: 100px; }
	.form-group { margin-bottom: 0; }
	// input { width: 100%; }
	.text-right { text-align: left; }
	// button { margin-left: 15px; }
	.search-box {
		@include make-sm-column(10);
		padding-left: 0;
		padding-right: 5px;
		float: left;
		width: 75%;
		.form-control {
			width: 100%;
		}
	}
	.search-button {
		@include make-sm-column(2);
		padding-left: 0;
		padding-right: 0;
		float: left;
	}
	.btn-primary {
		background-color: $teal;
		border-color: $teal;
	}
}
.search-info {
	font-size: 16px;
	float: right;
	margin-top: .25em;
	a {
		color: #999;
		cursor: pointer;
		font-size: 12px;
	}
}
.popover-content {
	font-size: 12px;
	color: $medium-gray;
}
.tooltip-inner {
	padding: 10px 12px; 
	font-size: 13px;
	background: $dark-teal;
	text-align: left;
}

// tabs only
.search-form-tabs {
	input { border-top-left-radius: 0; }
}

.form-control.col-9 { width: inherit; }


// Spotlight and image caption
//-----------------------------------//

.spotlight-caption { margin-bottom: 20px; }
.spotlight {
	background: #333; //ie8
	background: rgba(0, 0, 0, 0.75);
	padding: 20px 15px;
	width: auto;
	.spotlight-label {
		color: $teal;
		text-transform: uppercase;
		font-size: 12px;
		margin-bottom: .25em;
		font-family: $font-family-cul;
	}
	.spotlight-link { 
		color: white;
		font-size: 12px;
		margin-bottom: 5px;
		// text-align: right;
	}
	.spotlight-title {
		font-size: 18px;
		color: white;
		margin: 0 0 .75em;
	}
	a, a:hover { 
		text-decoration: underline;
		color: white; }
}
.caption-link {
	margin: 5px 0;
	a {
		background: rgba(255, 255, 255, 0.5);
		display: inline-block;
		padding: 2px 5px;
		color: $dark-gray;
		font-size: 11px;
	}
	a:hover { background: white; }
}

.help-links {
	padding-top: 10px;
	font-size: 12px;
	margin-top: 30px;
	border-top: 5px solid #555;
	overflow: hidden;
	a { 
		line-height: 1.4em;
		color: #dedede; // TODO: add variable for this color
	} 
	.dropdown-menu { 
		background: rgba(0, 0, 0, 1); 
		text-align: left;
		font-size:11px;
		a { color: #dedede; }
		li > a:hover  { background-color: $dark-teal; }
	} 
}
.search-options {
	h2 {
		margin: 0 0 .5em 0;
		font-size: 11px;
		color: $teal;
		text-transform: uppercase;
		font-weight: normal;
	}
	ul { 
		margin: 0; 
		padding: 0;
		list-style: none;
		overflow: hidden
	}
	li {
		float: left; 
		margin: 0;
		padding: 0 18px 10px 0;
		font-size: 12px;
		i { 
			margin-right: 2px;
			color: #999; }
	}
	li:first-child { 
		border-left: 0;
		padding-left: 0;
	}
}
.search-help {
	display: inline-block;
	float: right;
}
.search-toggle {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid rgba(0, 0, 0, 0);
	float: right;
	border-radius: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	width: 45px;
	height: 45px;
	color: white;
	font-size: 16px;
}
.search-toggle:hover {
	background: $cornell-primary-hover;
}
.search-collapse {
	z-index: 1000;
	background: $dark-gray;
	position: relative;
	padding: 3px 0;
	display: none;
	form {
		background: $dark-gray;
	}
	.form-group {
		float: left;
		width: 90%;
	}
}

// Search box on sub-pages
// -------------------------
#block-block-9 {
	margin-top: 40px;
	.btn-search-icon { 
		background: #580606;
		vertical-align: top; }
}
// make sure dropdown menu displays on top of navbar
.ui-menu {
	z-index: 1000 !important;
}
.ui-widget { font-family: $font-family-sans-serif; }
.not-front {
	.ui-menu {
		li { font-size: 12px; }
	}
}
.nav-global {
	.form-group { width: 80%; }
}
.sub-search {
	a {
		color: $light-gray;
	}
}
// search box on mobile devices
.mobile-search {
	.btn-search-icon { 
		background: #580606;
		vertical-align: top;
		float: left;
	}
	.form-group { width: 80%; }
	.form-control {
		float: left;
		margin: 5px;
	}
}

// Visual resources image search
// -----------------------------------

.form-image-search {
	input.form-control { width: 100%; }
	select.form-control { 
		width: 100%;
		margin-bottom: 5px;
	}
}

// Drupal search page form
// -------------------------
.main-content {
	.search-form {
		input.form-control {
			width: 100%;
		}
		.btn-primary {
			background-color: $teal;
			border-color: $teal;
		}
	}
}

// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	.container {
		.jumbotron { padding-left: 10px; }
	}
	.spotlight-caption {
		float: right; 
		width: 25%;
		margin-top: -161px;
		margin-bottom: 0;
	}
	.home-search {
		padding: 10px 10px 10px 20px;
		margin-top: 30px;
		margin-bottom: 0;
		border-bottom: 0;
		form {
			width: 98%;
			.col-sm-2 { padding-left: 0; }
		}
		.text-right { text-align: right; }
		button { margin-left: 0; }
		.tab-content {
			height: 180px;
		}
	}
	.help-links {
		margin-top: 20px;
	}
	.search-options {
		li {
			padding: 0 9px;
			font-size: 14px;
			border-left: 1px solid #444;
		}
	}
	.search-collapse {
		background: $cornell-primary;
		display: block;
		form {
			background: $cornell-primary;
		}
		.form-group {
			float: none;
			width: 80%;
		}
	}
	// Visual resources image search
	// -----------------------------------
	.form-image-search {
		input.form-control,
		select.form-control { width: auto; }
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	.container {
		.jumbotron { padding: 30px 60px 0 60px; }
	}
	.spotlight-caption {
		margin-top: -162px;
	}
	.home-search {
		form { 
			width: 100%;
		}
	}
	.search-options {
		li { 
			margin-bottom: 0;
			font-size: 15px;
		}
	}
}
